/*-- scss:defaults --*/

$font-family-sans-serif: "News Cycle", "sans-serif" !important;
$body-font-size: 1.25em;

.text-box{
  background-color: #FCC5A5;
  border: 2.5px solid #803D15;
  padding: 10px;
  margin: 10px 0;
}

.navbar, .h1, h1, .h2, h2{
  font-family: "News Cycle", "sans-serif" !important;
}



